# connect to this WIFI
wifi_ssid: "CONNECT-TO-THIS-WIFI"
wifi_password: "USING-THIS-PASSWORD"

# in case the above fails, setup an access point with the following credentials
wifi_fallback_ap_ssid: ${device_name}
wifi_fallback_ap_password: "FALLBACKPASSWORD"
